<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.5.1" targetFramework="portable46-net451+win81" />
  <package id="DotNetCross.Memory.Unsafe" version="0.2.3.4" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="Fody" version="2.2.0" targetFramework="portable46-net451+win81" developmentDependency="true" />
  <package id="MvvmCross" version="5.4.2" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross.Binding" version="5.4.2" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross.Core" version="5.4.2" targetFramework="portable46-net451+win81" />
  <package id="MvvmCross.Platform" version="5.4.2" targetFramework="portable46-net451+win81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable46-net451+win81" />
  <package id="Realm" version="2.0.0" targetFramework="portable46-net451+win81" developmentDependency="true" />
  <package id="Realm.Database" version="2.0.0" targetFramework="portable46-net451+win81" />
  <package id="Realm.DataBinding" version="1.2.0" targetFramework="portable46-net451+win81" />
  <package id="Remotion.Linq" version="2.1.2" targetFramework="portable46-net451+win81" />
  <package id="Splat" version="2.0.0" targetFramework="portable46-net451+win81" />
  <package id="System.Collections" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Linq" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="portable46-net451+win81" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Reflection" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Runtime" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="System.Threading" version="4.3.0" targetFramework="portable-net45+win80+wpa81" requireReinstallation="True" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="portable46-net451+win81" />
</packages>